<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/{{ static "static/css/main.css" }}" />
    <title>{{ .StatusCode }} {{ .StatusText }}</title>
  </head>
  <body>
    <main>
      <h1>{{ .StatusCode }} {{ .StatusText }}</h1>
      {{ if .IsTrusted }}
        <pre><code>{{ .Error }}</code></pre>
      {{ else }}
        <p>That&apos;s all I know.</p>
      {{ end }}
    </main>
  </body>
</html>
