<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/{{ static "static/css/main.css" }}" />
    <title>{{ .StatusCode }} {{ .StatusText }}</title>
  </head>
  <body>
    <main>
      <h1>{{ .StatusCode }} {{ .StatusText }}</h1>
      {{ if eq .StatusCode 500 }}
        <p>Oops, something went wrong.</p>
      {{ else if eq .StatusCode 405 }}
        <p>Method {{ .Method }} is not allowed.</p>
      {{ else if eq .StatusCode 404 }}
        <p>The page you were looking for doesn’t exist.</p>
        <p>You may have mistyped the address or the page may have moved.</p>
      {{ else if eq .StatusCode 403 }}
        <p>You are not allowed to access this page.</p>
      {{ else if eq .StatusCode 401 }}
        <p>You need to authorize to access this page.</p>
      {{ else if eq .StatusCode 400 }}
        <p>Your request is invalid.</p>
      {{ end }}
      {{ if .IsTrusted }}
        <details>
          <summary>Technical information</summary>
          <h2>Error</h2>
          <pre><code>{{ .Error }}</code></pre>
          <h2>Stacktrace</h2>
          <pre><code>{{ .Stacktrace }}</code></pre>
        </details>
      {{ end }}
    </main>
  </body>
</html>
